input{
    background-color: slateblue;
    border-radius: 10px;
}

main{
    flex-direction: row;
}

main div{
    flex-direction: column;
    flex:1;
    text-align: center;
}

p{
    padding: 0.5em;
}