body{
    background-color: green;
    background-size: cover;
    height:100vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header{
    display: flex;
    flex-direction: column;
    flex: 0 80px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    padding-top: .5em;
}

header *{
    background-color: gray;
}

menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding-left:0;

}

menu a{
    padding: 1em;
    border-radius:25px;
}

h1{
    display: flex;
    flex: 1;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

footer{
    text-align:center;
    align-items: center;
    justify-content: center;
}
